<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Автоответ</title>
</head>
<body>
    <h1>Ваши данные</h1>
    <h4>Фамилия: {{ surname }}</h4>
    <h4>Имя: {{ name }}</h4>
    <h4>Образование: {{ education }}</h4>
    <h4>Профессия: {{ profession }}</h4>
    <h4>Пол: {{ sex }}</h4>
    <h4>Мотивация: {{ motivation }}</h4>
    <h4>Готовность: {{ ready }}</h4>
</body>
</html>